.purpleIce {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $menu-bg-colour;
    box-shadow: inset 3px 3px 25px rgba(0, 0, 255, .6);
    font-size: 17px;
    color: grey;
    text-shadow: 1px 1px 8px skyblue, 0 0 1em skyblue;
    &:hover {
    box-shadow: inset 3px 3px 25px rgba(0, 0, 255, .6), 6px 6px 6px skyblue;
    }
    a {
        text-decoration: none;
        &:visited, &:link {
            color: gray;
        }
    }    
}
