// Header for all pages = logo + title
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    .homeHeader { 
        // created margin by setting width to 90% and centering
        width: 90%; 
        display: flex;
        align-items: center;
        p {
            padding-left: 1%;
        span {
            font-size: 37px;
            font-weight: 500;
            }
        }    
    }
}