main {
    width: 100%;
    display: flex;
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
    }
    .valuesWrapper, .tStackWrapper, .menuWrapper, .historyWrapper {
        width: 70%; // 60% of main and centered to create side margins
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;   
        align-items: center;
        sup { // matches sup colour at the top of page
            color: rgb(135, 201, 36);
        }
    }
// Homepage Main 
    .core, .time, .drivers, .tool, .femTech, .projects, .education, .contact {
        font-weight: 500;
    }
    // Core values should be central-button
    .core {
        width: 10%;
        height: 12%;
        position: absolute;
        top: 41%;
        left: 40.5%;
        z-index: 4;
    }
    // Time & Travel should be top-right
    .time {
        width: 12%;
        height: 8%;
        position: absolute;
        z-index: 3;
        top: 35%;
        right: 40%;
    }
    // Drivers should be bottom-left
    .drivers {
        width: 9.5%;
        height: 11%;
        position: absolute;
        z-index: 2;
        bottom: 38%;
        left: 35%;
    }
    // Tool Stack should be bottom-right
    .tool {
        width: 7%;
        height: 22%;
        position: absolute;
        z-index: 2;
        right: 46%;
        bottom: 29%;
    }
    // Females in Tech should be bottom-left from Drivers
    .femTech {
        width: 2.5%;
        height: 8.6%;
        position: absolute;
        z-index: 1;
        bottom: 31%;
        left: 33.1%;        
        img {
            width: 70%;
             height: 70%;
        }
    }
    }
    // Projects should be right of Tool Stack
    .projects {
        width: 9%;
        height: 15%;
        position: absolute;
        z-index: 1;
        right: 37.5%;
        bottom: 34%;
    }
    // Education should be top-left
    .education {
        width: 2%;
        height: 24%;
        position: absolute;
        z-index: 1;
        top: 23%;
        left: 38.8%;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
    // Contact should be bottom-right of Tool Stack
    .contact {
        width: 11%;
        height: 5%;
        position: absolute;
        z-index: 1;
        right: 49%;
        bottom: 24.9%;
    }
// Core Values Main
    .values {
        width: 40%;
        height: 9.2vh; // sneak peak encouraging user to scroll
        // background: radial-gradient(rgba(0, 0, 255, 0.37), white, white);
    }
// Tool Stack Main
    .tStack {
        width: 11%;
        height: 15vh;
            // grayscale for tools that have not yet been learned
            &:nth-child(1n+4) {
                filter: grayscale(1);
        }
    }
// Contact main
    .contactWrapper {
        width: 60%; // 60% of main and centered to create side margins
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;   
        align-items: center;
        .contactMe {
            width: 30%;
            height: 5%;
            margin: 1%;
            a {
                &:visited, &:link {
                    color: gray;
                }
            } 
        }
    }
// Women in Tech Main
    .quote {
        width: 90%;
        height: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0.5%;
        padding: 8%;        
        font-size: 135%;
        font-weight: 500;
        color: $tech-green;
        a {
            color: gray;
        }
    }
    .timeline {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .year {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.5%;
            padding: 1%;
            color: gray;
            background: rgba(211, 211, 211, 0.219);
            h4 {
                height: 3%;
                color: black;
            }
            p {
                width: 90%;
                height: 21%;
                text-align: center;
                a {
                    color: $tech-green;
                    font-weight: 600;
                }
            }
            .timelineContent {
                width: 30%;
                height: 70%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
            }
        }  
    }


