// Homepage and title font
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
// Alternative font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');

// Homepage and titles font
$title-font: 'Maven Pro', sans-serif;
$alt-font: 'Ubuntu Mono', monospace;

.headerWrapper, .menuWrapper, .valuesWrapper{
    font-family: $alt-font;
}