//Vendor
@import "vendor/__vendor-dir";

//Abstracts
@import "abstracts/__abstracts-dir";

//Base Styles
@import "base/__base-dir";

//Components
@import "components/__components-dir";

//Layout
@import "layouts/__layouts-dir";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.2s;
}
:root {
    font-size: 16px;
}
body {
    width: 1fr;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 100% 6vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    background-color: §bg-colour;
    border: 1px red solid;
}