//Vendor
@import "vendor/__vendor-dir";

//Abstracts
@import "abstracts/__abstracts-dir";

//Base Styles
@import "base/__base-dir";

//Components
@import "components/__components-dir";

//Layout
@import "layouts/__layouts-dir";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.2s;
}
:root {
    font-size: 16px;
}
body {
    width: 100vw;
    height: 88vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 100% 6vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    background-color: §bg-colour;
    header {
        display: flex;
        align-items: center;
    }
    /* main {
        .fifty {
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            grid-template-areas: 
                "mainLeft mainRight";
        }
    } */
}